/* About.css */
.about {
    padding: 2em;
    text-align: center;
    background-color: #83c5be;
    color: #333;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.about p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}
