/* Projects.css */
.projects {
    padding: 2em;
    text-align: center;
    background-color: #83c5be;
    color: #333;
}

.projects h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5em;
}

.project {
    padding: 1em;
    background-color: #e29578;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
