/* Skills.css */
.skills {
    padding: 2em;
    text-align: center;
    background-color: #83c5be;
    color: #333;
}

.skills h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.skills-list li {
    background-color: #e29578;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
}
